<%- include layaout/header.ejs %>

<div class="card">
    <h5 class="card-header"><%= title %></h5>
    <div class="card-body">
      <h5 class="card-title">subtitulo</h5>
      <p class="card-text"><%= description %></p>
      <a href="#" class="btn btn-primary">visitar sitio</a>
    </div>
</div>

<%- include layaout/footer.ejs %>    