<%- include layaout/header.ejs %>

    <div class="container">
      <h1><%= title %></h1>
      <p>Bienvenido a <%= title %> espero lo disfrutes</p>
    </div>

    
<%- include layaout/footer.ejs %>   